<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastro</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bootstrap.css" />

</head>

<body>
    <section class="ftco1-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="
                    background-image: url(/imagens/Faça\ agora\ o\ seu\ login!.png);
                  "></div>
                        <div class="login-wrap p-5 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-2">Criar um conta</h3>
                                </div>
                            </div>
                            <form action="/cadastrar" class="signin-form" method="POST" enctype="multipart/form-data">
                                <div class="form-group mb-0">
                                    <label class="label" for="nome">Nome</label>
                                    <input type="text" class="form-control" placeholder="Digite aqui..." name="nome"
                                        required />
                                </div>

                                <div class="form-group mb-0">
                                    <label class="label" for="email">Email</label>
                                    <input type="text" class="form-control" placeholder="Digite aqui..." name="email"
                                        required />
                                </div>
                                <% if (typeof emailCad !=='undefined' ) { %>
                                    <div class="alert alert-danger" >
                                        <%= emailCad %>
                                    </div>
                                    <% } %>
                                        <% if (typeof erro !=='undefined' ) { %>
                                            <div class="alert alert-danger">
                                                <%= erro %>
                                            </div>
                                            <% } %>
                                                <div class="form-group mb-0">
                                                    <label class="label" for="cpf">CPF</label>
                                                    <input type="text" class="form-control" placeholder="Digite aqui..."
                                                        name="cpf" required />
                                                </div>
                                                <% if (typeof cpfCad !=='undefined' ) { %>
                                                    <div class="alert alert-danger">
                                                        <%= cpfCad %>
                                                    </div>
                                                    <% } %>
                                                

                                                <% if (typeof erro2 !=='undefined' ) { %>
                                                    <div class="alert alert-danger">
                                                        <%= erro2 %>
                                                    </div>
                                                    <% } %>

                                                        <div class="form-group mb-0">
                                                            <label class="label" for="telefone">Telefone</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Digite aqui..." name="telefone" required />
                                                        </div>

                                                        <div class="form-group mb-0">
                                                            <label class="label" for="senha">Senha</label>
                                                            <input type="password" class="form-control"
                                                                placeholder="Digite aqui..." name="senha" required />
                                                        </div>

                                                        <label for="imagem">Selecione uma imagem:</label>
                                                        <input class="pb-5" type="file" name="file" id="imagem" required>
                                                        <input type="submit" value="Enviar"
                                                            class="form-control btn btn-primary rounded submit px-3">



                            </form>
                            <p class="text-center">
                                Já tem conta? <a data-toggle="tab" href="/login">Entrar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>

<body></body>

</html>