<!DOCTYPE html>
<html>

<head>
    <title>Editar perfil</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <h1>Editar perfil</h1>

    <% user.forEach(function(user) { %>

        <form action="/perfil/<%= user.id_user %>/editar" class="signin-form" method="POST" enctype="multipart/form-data">
            <label for="name">Nome:</label>
            <input type="text" id="nome" name="nome" value="<%= user.nome %>" required><br>

            <label for="description">telefone:</label>
            <textarea id="telefone" name="telefone" required><%= user.telefone %></textarea><br>

            <input type="submit" value="Enviar" class="form-control btn btn-primary rounded submit px-3">

            <label for="file">Imagem atual:</label>
            <% if (user.imagem) { %>
                <img src="/<%= user.imagem %>"
                    class="img-fluid img-thumbnail mt-4 mb-2 rounded-circle">
                <% } else { %>
                    <p>Nenhuma imagem disponível.</p>
                    <% } %>

                        <label for="file">Selecione uma nova imagem:</label>
                        <input type="file" name="file" id="file" required>


                        <input type="submit" value="Enviar" class="form-control btn btn-primary rounded submit px-3">


        </form>
        <% }) %>

</body>

</html>